<div id="wrapper">
      <!-- site header -->
  <header id="">
    <div class="container">
      <div class="row primary-header">
        <a href="" class="col-xs-12 col-sm-2 brand" title="Welcome to HHM">HARVESTHOUSE</a> 
        <div class="social-links col-xs-12 col-sm-5">
          <b class="notice"><%= notice %></b>
          <b class="alert"><%= alert %></b>
        </div>

        <div class="social-links col-xs-12 col-sm-5">
          <ul class="social-icons">
            <li>
              <a href="" target="_blank">HARVESTHOUSE MINISTRIES</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Brand</a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav nav-pills">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About us", pages_about_path %></li>

            <li>
              <a href="javascript:;" class="submenu-icon">CAUSES<span class="caret"></span></a>
              <!-- Drop Down  -->
              <div class="dropdown-menu">
                <ul>
                  <li><%= link_to "Death of parents", pages_ministry_path %></li>
                  <li><%= link_to "War", pages_ministry_path %></li>
                  <li><%= link_to "Parent imprisonment", pages_ministry_path %></li>
                  <li><%= link_to "Abandoned without care", pages_ministry_path %></li>
                </ul>
              </div>
              <!-- end  -->
            </li>
           
            <li><%= link_to "Donation", pages_donation_path %></li>
            <li><%= link_to "Sponsorship", pages_sponsorship_path %></li>
            <li><%= link_to "Contact us", pages_contact_path %></li>
            
            <li>
              <a href="javascript:;" class="submenu-icon">OTHERS<span class="caret"></span></a>
              <!-- Drop Down  -->
              <div class="dropdown-menu">
                <ul>
                  <li><%= link_to "News", pages_about_path %></li>
                  <li><%= link_to "FAQS", pages_about_path %></li>
                </ul>
              </div>
              <!-- end  -->

            </li>
          </ul>
          <form class="navbar-form navbar-right search-form" role="search">
            <div class="form-group">
              <input class="form-control" placeholder="Search Here" type="text">
            </div>
            <button type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
</div>
